*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: poppins,sans-serif;
}
h1{
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  /* justify-content: center; */
  margin-bottom: 40px 0 60px 0;
}
.search{
  text-align: center;
margin-bottom: 60px;
  /* justify-content: center; */
}
.input-search{
  max-width: 400px;
  border: 2px solid rgb(147, 138, 138);
  border-radius: 10px;
  font-size: 18px;
  color: #333;
  padding: 10px 20px;
  width: 60%;

}
.search-button{
  padding: 10px 20px;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
}

.search-results{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}
.search-result{
  margin-bottom: 60px;
  width: 30%;
  height: 100%;
  border-radius:5px ;
  box-shadow: 0 0 6px rgba(0,0 ,0 ,0.2);
  overflow: hidden;
}
.search-result img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.search-result:hover img{
  opacity: 0.8;
} 

.search-result a{
  font-size: 20px;
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
  text-transform: capitalize;
}
#show-more-button{
  background-color: #008cba;
  font-size: 18px;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  display: block;
  margin: 30px auto;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

@media  screen and( max-width:768px) {
  
}